[Unit]
Description=Passwordstore SSH Agent
Requires=ssh-pass-agent.socket

[Service]
Type=simple
WorkingDirectory=%h/.ssh-pass-agent/
ExecStart=%h/.ssh-pass-agent/.venv/bin/python %h/.local/bin/ssh-pass-agent.py %t/ssh-pass-agent.sock
Restart=on-failure
RestartSec=5

[Install]
Also=ssh-pass-agent.socket
